<!-- 顶部卡片内容，请在 template 变量中修改要显示的 HTML 内容 -->
Vue.component('header-card-content', {
  template: '<p>Modified on Mar 20, 2017</p><p>欢迎在 <b>Github issues</b> 和我一起讨论有关话题~ 也可以关注我的新浪微博</p>'
  + '<p>（PS：该列表并没有具体的排序，想起来就加上去，当然排在前面的大都是真爱。）</p>'
})

new Vue({
  el: '#app',
  data: {
    <!-- 网页信息 -->
    title: '　补番 List',
    author: '烧饼',
    author_github_name: 'fython',
    copyright_author: 'Fung Go (fython)',

    <!-- 顶部背景 -->
    header_image: 'images/hidan_no_aria_background.jpg',

    <!-- 底部/移动端 Navigation Drawer 链接 -->
    menus: [
      { text: '作者微博', link: 'http://weibo.com/fython'},
      { text: 'Github 源码', link: 'https://github.com/fython/To-Watch-Bangumi-List' }
    ],

    <!-- 列表信息，建议使用 ../mkdata.py 脚本导入数据，详情请阅读 ../README.md -->
    items: [
      {items}
    ]
  },
  methods: {
  }
})
