<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>补番 List</title>

  <!-- Chrome Title Bar Color -->
  <meta name="theme-color" content="#e91e63">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="js/vue.min.js"></script>
  <link rel="stylesheet" href="css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div id="app">
    <!-- Nav Bar -->
    <nav class="nav-extended">
    <div class="nav-wrapper pink">
      <a href="#" class="brand-logo">{{ title }}</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-demo">
        <li v-for="menu in menus">
          <a href="{{ menu.link }}">{{ menu.text }}</a>
        </li>
      </ul>
    </div>
    </nav>

    <!-- Header -->
    <div class="parallax-container">
      <div class="section" id="header_card_container">
          <div class="card horizontal" id="header_card">
            <div class="card-stacked">
              <div class="card-content">
                <header-card-content />
              </div>
            </div>
          </div>
      </div>
      <div class="parallax"><img src="{{ header_image }}" alt="Parallax Image"></div>
    </div>

    <!-- List -->
    <div class="container">
      <div class="row">
        <div class="col s12 m4" v-for="item in items">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator itempic" style="background-image:url( {{ item.pic }} )">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
                {{ item.title }}
                <i class="material-icons right">comment</i>
              </span>
              <p>
                <a href="{{ item.link }}">补番通道</a>
                <i class="material-icons right" v-show="item.finished">offline_pin</i>
                <i class="material-icons right" v-else="item.finished">schedule</i>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{ item.title }}<i class="material-icons right">close</i></span>
              <p>{{ item.intro }}</p>
              <p class="finish-icon-container right" v-show="item.finished">
                <span class="finish-icon-text grey-text text-darken-4">已补完</span>
                <i class="material-icons finsih-icon grey-text text-darken-4">offline_pin</i>
              </p>
              <p class="finish-icon-container right" v-else="item.finished">
                <span class="finish-icon-text grey-text text-darken-4">待补番</span>
                <i class="material-icons finsih-icon grey-text text-darken-4">schedule</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">其它信息</h5>
            <p class="grey-text text-lighten-4">Created by {{ author }} <a href="https://github.com/{{ author_github_name }}" class="grey-text text-lighten-1">@{{ author_github_name }}</a> on September 26, 2015</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">相关链接</h5>
            <ul><li v-for="menu in menus"><a class="grey-text text-lighten-3" href="{{ menu.link }}">{{ menu.text }}</a></li></ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">© 2017 {{ copyright_author }}</div>
      </div>
    </footer>

  </div>

  <!-- Init -->
  <script type="text/javascript" src="js/init.index.js"></script>

  <!-- Vue (Data) -->
  <script src="js/vue.index.js"></script>

</body>
</html>
